.orders-container {
  width: 90%;
  margin: 40px auto;
}

.orders-container h1 {
  text-align: center;
  font-size: 32px;
  color: #222;
  margin-bottom: 30px;
}

.orders-container h2 {
  text-align: center;
  color: gray;
  margin-top: 50px;
}

.order-card {
  width: 320px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  margin: 15px auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  transition: 0.3s;
  text-align: center;
}

.order-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.18);
}

.order-card h3 {
  font-size: 22px;
  color: #222;
  margin-bottom: 10px;
}

.order-card p {
  font-size: 17px;
  margin: 8px 0;
  color: #444;
}

.order-card p:last-child {
  color: green;
  font-weight: bold;
}