.success-container{
    min-height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f5f5f5;
}

.success-box{
    background:white;
    padding:40px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.success-box h1{
    color:green;
    margin-bottom:15px;
}

.success-box button{
    margin-top:20px;
    padding:12px 20px;
    border:none;
    background:#0d6efd;
    color:white;
    border-radius:8px;
    cursor:pointer;
}